.productsvg {
  position: absolute;
  height: 925.167px;
  width: 661.323px;
}
.underlinne {
  width: 100%;
  height: auto;
  max-width: 304px;
}
@media (max-width: 1040px) {
  .underlinne {
    max-width: 150px;
  }
  .underlinne2 {
    max-width: 220px;
  }
  .underlinne3 {
    max-width: 300px;
  }
}
